
.advantages-module {
    padding-top: 40px;
    padding-bottom: 40px;
}

.advantages-module-row {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.advantages-module-item {
    flex: 1 0 20%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

@media (max-width: 700px) {
    .advantages-module-item {
        font-size: 12px;
    }
}

.advantages-module-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

@media (max-width: 700px) {
    .advantages-module-item-icon {
        max-width: 120px;
        height: 130px;
        margin-left: auto;
        margin-right: auto;
    }
}