body {
    color: #69797d;
    font-family: Roboto, Arial, sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: #00665a;
    transition: color 200ms;
}

a:hover,
a:focus {
    color: #f49a28;
    transition: color 200ms;
}

.main-container {
    max-width: 1140px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.hr {
    height: 2px;
    border-radius: 1px;
    background-color: #e8f1f6;
    border: none;
    max-width: 1070px;
}

.text-center {
    text-align: center;
}

.text-green {
    color: #00665a;
}

.text-yellow {
    color: #f49a28;
}