.main-footer {
    background-color: #e3e3e3;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (max-width: 1000px) {
    .main-footer {
        padding-bottom: 0;
    }
}

.main-footer > .main-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media (max-width: 1160px) {
    .main-footer > .main-container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .main-footer > .main-container > * {
        margin-bottom: 20px;
    }
}

.main-footer-logo {
    padding-right: 30px;
}

@media (max-width: 1160px) {
    .main-footer-logo {
        max-width: 80px;
        margin-right: 30px;
    }
}

.main-footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 30px;
    align-self: center;
}

.main-footer-menu-item {
    margin-bottom: 7px;
}

@media (max-width: 1160px) {
    .main-footer-menu-item {
        display: inline-block;
        margin-right: 15px;
    }

    .main-footer-menu-item:last-child {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .main-footer-menu-item {
        display: block;
        margin-right: 0;
    }
}

.main-footer-menu-item > a,
.main-footer-menu-item > span {
    color: #69797d;
    text-decoration: none;
}

.main-footer-menu-item > a:hover,
.main-footer-menu-item > a:focus,
.main-footer-menu-item > span:hover,
.main-footer-menu-item > span:focus,
.main-footer-menu-item-active > a,
.main-footer-menu-item-active > span {
    color: #f49a28;
    transition: all 200ms;
}

.main-footer-contacts {
    padding-right: 40px;
}

.main-footer-contacts-phone {
    font-size: 24px;
    text-decoration: none;
}

.main-footer-contacts-email {
    font-size: 14px;
    text-decoration: none;
}

.main-footer-address {
    font-size: 14px;
    padding-right: 40px;
    color: #00665a;
}

.main-footer-address p {
    margin-top: 0;
}

.main-footer-address a {
    text-decoration: none;
}

.main-footer-socials {

}

.main-footer-socials-item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: baseline;
    transition: all 200ms;
}

.main-footer-socials-item:hover,
.main-footer-socials-item:focus {
    opacity: 0.7;
    transition: all 200ms;
}

.main-footer-socials-item:last-child {
    margin-right: 0;
}