
.main-footer {
    background-color: #e3e3e3;
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-footer > .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.main-footer-logo {
    padding-right: 20px;
}

.main-footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

.main-footer-menu-item {
    margin-bottom: 7px;
}

.main-footer-menu-item > a,
.main-footer-menu-item > span {
    color: #69797d;
    text-decoration: none;
}

.main-footer-menu-item > a:hover,
.main-footer-menu-item > span:hover,
.main-footer-menu-item-active > a,
.main-footer-menu-item-active > span {
    color: #f49a28;
    transition: all 200ms;
}

.main-footer-contacts {
    padding-right: 20px;
}

.main-footer-contacts-phone {
    font-size: 24px;
    text-decoration: none;
}

.main-footer-contacts-email {
    font-size: 14px;
    text-decoration: none;
}

.main-footer-address {
    font-size: 14px;
    padding-right: 20px;
}

.main-footer-address p {
    margin-top: 0;
}

.main-footer-address a {
    text-decoration: none;
}

.main-footer-socials {

}

.main-footer-socials-item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: baseline;
}

.main-footer-socials-item:last-child {
    margin-right: 0;
}