.origin-module {
    overflow-x: hidden;
    padding-top: 100px;
    padding-bottom: 40px;
    line-height: 22px;
}

@media (max-width: 991px) {
    .origin-module {
        padding-top: 25px;
    }
}

.origin-module-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    .origin-module-title {
        margin-bottom: 4px;
    }

    .origin-module-title-3 {
        display: none;
    }

    .origin-module-column-2 > p {
        margin-top: 0;
    }
}

.origin-module-map {
    position: relative;
    background: url("../images/altai-sunflower.png") no-repeat center;
    width: 265px;
    height: 246px;
}

html.webp .origin-module-map {
    background-image: url("../images/altai-sunflower.webp");
}

.origin-module-map::before {
    content: '';
    position: absolute;
    top: -758px;
    left: -1017px;
    width: 1920px;
    height: 1114px;
    z-index: -1;
    background: url("../images/map.png") no-repeat center 100%;
}

html.webp .origin-module-map::before {
    background-image: url("../images/map.webp");
}