.sunflower-seed {
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

@media (max-width: 991px) {
    .sunflower-seed {
        margin-bottom: 10px;
    }
}