.sunflower-seed {
    text-align: center;
    position: relative;
    width: 876px;
    height: 601px;
    margin-left: auto;
    margin-right: auto;
}

.sunflower-seed.invisible {
    transition: all 0.7s ease;
    opacity: 0.7;
    filter: blur(10px);
}

.sunflower-seed.visible {
    transition: all 0.7s ease;
    opacity: 1;
}

@media (max-width: 890px) {
    .sunflower-seed {
        transform: scale(0.7);
        transform-origin: left center;
    }
}

@media (max-width: 700px) {
    .sunflower-seed {
        left: -60px;
    }
}

.sunflower-seed-bg {
    width: 100%;
    height: 100%;
}

.sunflower-seed-step {
    position: absolute;
    left: 320px;
    top: 80px;
    opacity: 0;
    transition: all 500ms;
}

.sunflower-seed.visible .sunflower-seed-step-1 {
    animation: seed-1 1s;
}

.sunflower-seed.visible .sunflower-seed-step-2 {
    animation: seed-2 1s;
    animation-delay: 0.75s;
}

.sunflower-seed.visible .sunflower-seed-step-3 {
    animation: seed-3 1s;
    animation-delay: 1.5s;
}

.sunflower-seed.visible .sunflower-seed-step-4 {
    animation: seed-4 1s;
    animation-delay: 2.25s;
    animation-fill-mode: forwards;
}

@keyframes seed-1 {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes seed-2 {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes seed-3 {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes seed-4 {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}