.sunflower-seed {
    text-align: center;
    position: relative;
    width: 876px;
    height: 601px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.sunflower-seed.invisible {
    transition: all 0.7s ease;
    opacity: 0.7;
    filter: blur(10px);
}

.sunflower-seed.visible {
    transition: all 0.7s ease;
    opacity: 1;
}

@media (max-width: 890px) {
    .sunflower-seed {
        transform: scale(0.7);
        transform-origin: left center;
    }
}

@media (max-width: 700px) {
    .sunflower-seed {
        left: -60px;
    }
}

.sunflower-seed-bg {
    width: 100%;
    height: 100%;
}

.sunflower-seed-step {
    position: absolute;
    left: 270px;
    top: 20px;
    opacity: 0;
    width: 400px;
    transform: rotate(30deg);
    transition: all 500ms;
}

.sunflower-seed.visible .sunflower-seed-step-1 {
    animation: seed-next 1s;
}

.sunflower-seed.visible .sunflower-seed-step-2 {
    animation: seed-next 1s;
    animation-delay: 0.5s;
}

.sunflower-seed.visible .sunflower-seed-step-3 {
    animation: seed-next 1s;
    animation-delay: 1s;
}

.sunflower-seed.visible .sunflower-seed-step-4 {
    animation: seed-next 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.sunflower-seed.visible .sunflower-seed-step-5 {
    animation: seed-next 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.sunflower-seed.visible .sunflower-seed-step-6 {
    animation: seed-last 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}


@keyframes seed-next {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes seed-last {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}